In [74]:
import numpy 
import pandas as pd
import tensorflow as tf
from google.colab import files
uploades = files.upload()

Saving Total_Data.xlsx to Total_Data (1).xlsx

In [75]:
df = pd.read_excel('Total_Data.xlsx')

The above data has all entries in 2003-2019 Premier League

In [76]:
# Gives us the dataframe of team a_vs_team b for all past years
def a_vs_b(a,b):
  options = [a,b]
  a_b = df[df['Home Team'].isin(options)]
  a_b = a_b[a_b['Away Team'].isin(options)]
  return a_b

# Gives us the dataframe of team_vs_all for all past years
def team_vs_all(team):
  options = [team]
  team_all = df[df['Home Team'].isin(options) | df['Away Team'].isin(options)]
  return team_all

# Gives us the dataframe of all the home matches of a team
def home_matches(team):
  options = [team]
  home_all = df[df['Home Team'].isin(options)]
  return home_all

# Gives us the dataframe of all the away matches of a team
def away_matches(team):
  options = [team]
  home_all = df[df['Away Team'].isin(options)]
  return home_all

In [77]:
# Taking example of two teams and then will make the whole code in a general form
a = 'Arsenal' #HomeTeam
b = 'Liverpool' #AwayTeam

In [78]:
a_all = team_vs_all(a) # team a vs all other teams data
b_all = team_vs_all(b) # team b vs all other team data
a_b = a_vs_b(a,b) # team a vs team b data

In [79]:
#If team a wins then Win_Value = 1, if loses then 0, if draw then 0.5  
a_all = pd.DataFrame(a_all)
a_all.loc[((a_all['Home Team'] == a) & (a_all['FTR'] == 'H')) | ((a_all['Away Team'] == a) & (a_all['FTR'] == 'A')), 'Win_Value'] = 1
a_all.loc[((a_all['Home Team'] == a) & (a_all['FTR'] == 'A')) | ((a_all['Away Team'] == a) & (a_all['FTR'] == 'H')), 'Win_Value'] = 0
a_all = a_all.fillna(0.5)

b_all = pd.DataFrame(b_all)
b_all.loc[((b_all['Home Team'] == b) & (b_all['FTR'] == 'H')) | ((b_all['Away Team'] == b) & (b_all['FTR'] == 'A')), 'Win_Value'] = 1
b_all.loc[((b_all['Home Team'] == b) & (b_all['FTR'] == 'A')) | ((b_all['Away Team'] == b) & (b_all['FTR'] == 'H')), 'Win_Value'] = 0
b_all = b_all.fillna(0.5)

a_b = pd.DataFrame(a_b)
a_b.loc[((a_b['Home Team'] == a) & (a_b['FTR'] == 'H')) | ((a_b['Away Team'] == a) & (a_b['FTR'] == 'A')), 'Win_Value_a'] = 1
a_b.loc[((a_b['Home Team'] == a) & (a_b['FTR'] == 'A')) | ((a_b['Away Team'] == a) & (a_b['FTR'] == 'H')), 'Win_Value_a'] = 0
a_b = a_b.fillna(0.5) 

a_b.loc[a_b['Home Team'] == a,'Home Team'] = 1
a_b.loc[a_b['Away Team'] == a,'Away Team'] = 1
a_b.loc[a_b['Home Team'] == b,'Home Team'] = 0
a_b.loc[a_b['Away Team'] == b,'Away Team'] = 0
# Team a = 1 (Arsenal) and team b = 0 (Liverpool)

In [81]:
# Same as above but for home matches data
a_home = home_matches(a)
b_home = home_matches(b)

a_home = pd.DataFrame(a_home)
a_home.loc[((a_home['Home Team'] == a) & (a_home['FTR'] == 'H')), 'Home_Win_Value'] = 1
a_home.loc[((a_home['Home Team'] == a) & (a_home['FTR'] == 'A')), 'Home_Win_Value'] = 0
a_home = a_home.fillna(0.5) 

b_home = pd.DataFrame(b_home)
b_home.loc[((b_home['Home Team'] == b) & (b_home['FTR'] == 'H')), 'Home_Win_Value'] = 1
b_home.loc[((b_home['Home Team'] == b) & (b_home['FTR'] == 'A')), 'Home_Win_Value'] = 0
b_home = b_home.fillna(0.5)

In [83]:
# Same as above but for away matches data
a_away = away_matches(a)
b_away = away_matches(b)
a_away = pd.DataFrame(a_away)
b_away = pd.DataFrame(b_away)

a_away.loc[((a_away['Away Team'] == a) & (a_away['FTR'] == 'H')), 'Away_Win_Value'] = 0
a_away.loc[((a_away['Away Team'] == a) & (a_away['FTR'] == 'A')), 'Away_Win_Value'] = 1
a_away = a_away.fillna(0.5) 

b_away.loc[((b_away['Away Team'] == b) & (b_away['FTR'] == 'H')), 'Away_Win_Value'] = 0
b_away.loc[((b_away['Away Team'] == b) & (b_away['FTR'] == 'A')), 'Away_Win_Value'] = 1
b_away = b_away.fillna(0.5)

In [84]:
# It takes average of last 6 win valus of team a in the matches team a vs team b
values = []
win_prob = []
sum = 0

for value in a_b['Win_Value_a']:
    values.append(value)

for i in range(len(values)):
    if i<6:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-6]
        prob = sum / 6
    win_prob.append(prob) 

a_b["Win_last6_a"] = win_prob

In [85]:
# Similar as above but average of last 5 home win value of team a 
values = []
win_prob = []
sum = 0

for value in a_home['Home_Win_Value']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

a_home["Home_Win_Prob"] = win_prob

# Similar as above but average of last 5 home win value of team b
values = []
win_prob = []
sum = 0

for value in b_home['Home_Win_Value']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

b_home["Home_Win_Prob"] = win_prob

# Similar as above but average of last 5 away win value of team a
values = []
win_prob = []
sum = 0

for value in a_away['Away_Win_Value']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

a_away["Away_Win_Prob"] = win_prob

# Similar as above but average of last 5 away win value of team b
values = []
win_prob = []
sum = 0

for value in b_away['Away_Win_Value']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

b_away["Away_Win_Prob"] = win_prob

In [86]:
# Similar as above but average of last 10 win value of team a vs all teams
values = []
win_prob = []
sum = 0

for value in a_all['Win_Value']:
    values.append(value)
    
for i in range(len(values)):
    if i<10:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-10]
        prob = sum / 10
    win_prob.append(prob) 

a_all["Win_Prob_Last10_a"] = win_prob

# Similar as above but average of last 10 win value of team b vs all teams
values = []
win_prob = []
sum = 0

for value in b_all['Win_Value']:
    values.append(value)
    
for i in range(len(values)):
    if i<10:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-10]
        prob = sum / 10
    win_prob.append(prob) 

b_all["Win_Prob_Last10_b"] = win_prob

# Take average of Home team Shots/Away Team shots average on target for both teams
values = []
win_prob = []
sum = 0

for value in b_all['HSTP']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

b_all["HSTP_avg"] = win_prob

values = []
win_prob = []
sum = 0

for value in b_all['ASTP']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

b_all["ASTP_avg"] = win_prob

values = []
win_prob = []
sum = 0

for value in a_all['ASTP']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

a_all["ASTP_avg"] = win_prob

values = []
win_prob = []
sum = 0

for value in a_all['HSTP']:
    values.append(value)
    
for i in range(len(values)):
    if i<5:
        sum = sum + values[i]
        prob = sum / (i+1)
    else:
        sum = sum + values[i] - values[i-5]
        prob = sum / 5
    win_prob.append(prob) 

a_all["HSTP_avg"] = win_prob

In [87]:
# Merging data set
data = pd.merge(a_b,a_home[['Match_Id','Home_Win_Prob']], on='Match_Id',how = 'left')
b_home = b_home[['Match_Id','Home_Win_Prob']]
data.loc[data.Match_Id.isin(b_home.Match_Id), ['Home_Win_Prob']] = b_home.loc[b_home.Match_Id.isin(data.Match_Id),['Home_Win_Prob']].values

data = pd.merge(data,a_away[['Match_Id','Away_Win_Prob']], on='Match_Id',how = 'left')
b_away = b_away[['Match_Id','Away_Win_Prob']]
data.loc[data.Match_Id.isin(b_away.Match_Id), ['Away_Win_Prob']] = b_away.loc[b_away.Match_Id.isin(data.Match_Id),['Away_Win_Prob']].values

data = pd.merge(data,a_all[['Match_Id','ASTP_avg']], on='Match_Id',how = 'left')
data.loc[data.Match_Id.isin(b_all.Match_Id), ['ASTP_avg']] = b_all.loc[b_all.Match_Id.isin(data.Match_Id),['ASTP_avg']].values
data = pd.merge(data,a_all[['Match_Id','HSTP_avg']], on='Match_Id',how = 'left')
data.loc[data.Match_Id.isin(b_all.Match_Id), ['HSTP_avg']] = b_all.loc[b_all.Match_Id.isin(data.Match_Id),['HSTP_avg']].values

data = pd.merge(data,a_all[['Match_Id','Win_Prob_Last10_a']], on='Match_Id', how='left')
data = pd.merge(data,b_all[['Match_Id','Win_Prob_Last10_b']], on='Match_Id', how='left')

In [88]:
data.head()

  Home Team Away Team  FTHG  ...  HSTP_avg Win_Prob_Last10_a  Win_Prob_Last10_b
0         0         1     1  ...  0.479240             0.875               0.50
1         1         0     4  ...  0.543462             0.950               0.60
2         0         1     2  ...  0.537660             0.600               0.55
3         1         0     3  ...  0.573232             0.900               0.45
4         0         1     1  ...  0.391818             0.550               0.60

[5 rows x 38 columns]

In [89]:
columns = ['Match_Id','Home Team', 'Away Team', 'HSTP_avg', 'ASTP_avg', 'Win_last6_a', 'Home_Win_Prob', 'Away_Win_Prob', 'Win_Prob_Last10_a', 'Win_Prob_Last10_b']
X = data[columns]
X.set_index('Match_Id')

         Home Team Away Team  ...  Win_Prob_Last10_a  Win_Prob_Last10_b
Match_Id                      ...
71               0         1  ...              0.875               0.50
309              1         0  ...              0.950               0.60
527              0         1  ...              0.600               0.55
748              1         0  ...              0.900               0.45
1016             0         1  ...              0.550               0.60
1045             1         0  ...              0.500               0.50
1258             1         0  ...              0.700               0.45
1443             0         1  ...              0.650               0.70
1626             0         1  ...              0.900               0.75
1841             1         0  ...              0.650               0.80
2075             1         0  ...              0.550               0.70
2227             0         1  ...              0.750               0.80
2439             0         1  ...              0.750               0.45
2527             1         0  ...              0.700               0.70
2669             0         1  ...              0.550               0.60
2984             1         0  ...              0.750               0.70
3050             1         0  ...              0.400               0.60
3301             0         1  ...              0.600               0.40
3447             0         1  ...              0.650               0.40
3655             1         0  ...              0.600               0.65
3891             1         0  ...              0.850               0.70
4044             0         1  ...              0.700               0.70
4348             0         1  ...              0.600               0.45
4480             1         0  ...              0.900               0.75
4590             1         0  ...              0.600               0.55
4765             0         1  ...              0.650               0.50
4948             1         0  ...              0.700               0.70
5200             0         1  ...              0.550               0.55
5348             0         1  ...              0.700               0.80
5501             1         0  ...              0.650               0.80
5801             1         0  ...              0.800               0.85
5894             0         1  ...              0.600               0.95
6107             0         1  ...              0.450               1.00
6435             1         0  ...              0.650               0.60

[34 rows x 9 columns]

In [91]:
data.loc[((data['Home Team'] == 0) & (data['FTR'] == 'H')) | ((data['Away Team'] == 0) & (data['FTR'] == 'A')), 'Win Team'] = 0
data.loc[((data['Home Team'] == 1) & (data['FTR'] == 'H')) | ((data['Away Team'] == 1) & (data['FTR'] == 'A')), 'Win Team'] = 1
data.loc[(data['FTR'] == 'D'), 'Win Team'] = 2 # Labeled value of draw matches for y column

y = data[['Win Team']]